<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Get-Carpull</title>

  {{!--
  <link rel="stylesheet" href="../../public/css/style.css" /> --}}
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-400">
  <section class="display-flex justify-space-between align-center p-2">
    <h1 class="bg-gray-900 p-4 text-3xl text-green-400 font-serif font-semibold">
      Get-Carpull
    </h1>
    {{#if logged_in}}
    <header class="bg-gray-900 p-4">
      <nav class="mt-4 flex justify-between">
        <ul class="flex space-x-4">
          <li><a href="#" class="text-gray-300">Home</a></li>
          <li><a href="#" class="text-gray-300">Cars</a></li>
          <li><a href="#" class="text-gray-300">About Us</a></li>
          <li><a href="#" class="text-gray-300">Contact Us</a></li>
        </ul>
        <button class="flex flex-end bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">
          Logout
        </button>
      </nav>
    </header>
    <nav>
      <section class="bg-green-400 shadow-md rounded-md p-4">
        <h2 class="text-2xl font-semibold mb-4">Search for Cars</h2>
        <form id="car-search-form" class="space-y-4">
          <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4">
            <div class="flex-1">
              <label for="year" class="block text-gray-700">Year:</label>
              <input type="number" id="year" name="year" placeholder="Enter year"
                class="border rounded-md p-2 w-full" />
            </div>
            <div class="flex-1">
              <label for="brand" class="block text-gray-700">Brand:</label>
              <input type="text" id="brand" name="brand" placeholder="Enter brand"
                class="border rounded-md p-2 w-full" />
            </div>
            <div class="flex-1">
              <label for="model" class="block text-gray-700">Model:</label>
              <input type="text" id="model" name="model" placeholder="Enter model"
                class="border rounded-md p-2 w-full" />
            </div>
            <div>
              <button type="submit" class="bg-gray-700 text-white py-2 px-4 rounded-md hover:bg-gray-600">
                Search
              </button>
            </div>
          </div>
        </form>
      </section>

    </nav>
    <section class="container:mx-auto flex flex-wrap lg:flex-row md:flex-col sm:flex-col">
      {{#each carData}}
      <div class="card card-compact w-96 bg-gray-300 shadow-xl m-10 p-3 rounded-md text-xl">
        <img class="object-contain h-48 w-full" src={{dataValues.photoURL}} alt={{dataValues.model}} />
        <div class="card-body">
          <h2 class="card-title font-bold">{{dataValues.model}} {{dataValues.make}}</h2>
          <ul class="list-none">
            <li>Year: {{dataValues.year}}</li>
            <li>Make: {{dataValues.make}}</li>
            <li>Model: {{dataValues.model}}</li>
          </ul>
          <div class="card-actions">
            <button class="btn btn-primary text-white py-2 bg-blue-500 px-4 rounded-md hover:bg-blue-600">Buy
              Now</button>
          </div>
        </div>
      </div>
      {{/each}}
    </section>
    {{/if}}
  </section>
  <main class="container container-fluid mt-5">{{{ body }}}</main>
  <footer></footer>

  {{#if logged_in}}
  <script src="public/js/logout.js"></script>
  {{/if}}
</body>

</html>